@{
    ViewData["Title"] = "Página Principal";
}
<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        color: white; /* Cambia el color del texto para contraste */
        font-family: 'Poppins', sans-serif;
        min-height: 100vh; /* Asegura que el fondo cubra al menos el 100% del alto del viewport*/
    }

    a {
        color: #ffffff;
        text-decoration: underline;
    }

    a:hover { /* Cambia en negro cuando se pasa por encima*/
        color: #000000;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Bienvenido de nuevo señor Stark</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     
    <!-- GIF animado -->
    <img src="https://64.media.tumblr.com/0a22489f29ded0af0d4a448819660a0b/e75baf91cefe7131-c0/s540x810/09f2be68336029668709b8566ce4c87fc7c7ed35.gifv"
         alt="Iron Man"
         style="max-width: 1000px; width: 100%; height: auto; margin-top: 20px; border-radius: 10px;" />
</div>
